# Step 2 - Database Engineering

In [1]:
# import dependencies here

import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Integer, Float, String, Text, Column
from pprint import pprint

In [2]:
# create DB engine to transact with database
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()
Base = declarative_base()

In [3]:
# define class for measurements table

Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'

    station = Column(String, primary_key=True)
    date = Column(String, primary_key=True)
    prcp = Column(Float)
    tobs = Column(Integer)
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [4]:
# define class for stations table

class Stations(Base):
    __tablename__ = 'stations'

    station = Column(String, primary_key=True)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [5]:
# create all the table objects
Base.metadata.create_all(engine)

In [6]:
# read measurements data into dataframe
measurements_df = pd.read_csv("Resources/hawaii_measurements_clean_data.csv")
measurements_dict = measurements_df.to_dict(orient='records')
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [7]:
# read stations data into dataframe
stations_df = pd.read_csv("Resources/hawaii_stations_clean_data.csv")
stations_dict = stations_df.to_dict(orient='records')
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
pprint(measurements_dict[:5])

[{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65},
 {'date': '2010-01-02', 'prcp': 0.0, 'station': 'USC00519397', 'tobs': 63},
 {'date': '2010-01-03', 'prcp': 0.0, 'station': 'USC00519397', 'tobs': 74},
 {'date': '2010-01-04', 'prcp': 0.0, 'station': 'USC00519397', 'tobs': 76},
 {'date': '2010-01-07', 'prcp': 0.06, 'station': 'USC00519397', 'tobs': 70}]

In [9]:
pprint(stations_dict)

[{'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'name': 'WAIKIKI 717.2, HI US',
  'station': 'USC00519397'},
 {'elevation': 14.6,
  'latitude': 21.4234,
  'longitude': -157.8015,
  'name': 'KANEOHE 838.1, HI US',
  'station': 'USC00513117'},
 {'elevation': 7.0,
  'latitude': 21.5213,
  'longitude': -157.8374,
  'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US',
  'station': 'USC00514830'},
 {'elevation': 11.9,
  'latitude': 21.3934,
  'longitude': -157.9751,
  'name': 'PEARL CITY, HI US',
  'station': 'USC00517948'},
 {'elevation': 306.6,
  'latitude': 21.4992,
  'longitude': -158.0111,
  'name': 'UPPER WAHIAWA 874.3, HI US',
  'station': 'USC00518838'},
 {'elevation': 19.5,
  'latitude': 21.33556,
  'longitude': -157.71139,
  'name': 'WAIMANALO EXPERIMENTAL FARM, HI US',
  'station': 'USC00519523'},
 {'elevation': 32.9,
  'latitude': 21.45167,
  'longitude': -157.84888999999995,
  'name': 'WAIHEE 837.5, HI US',
  'station': 'USC00519281'},
 {'elevation': 0.9,
  'latitude': 21.3152,
  'longitude': -157.9992,
  'name': 'HONOLULU OBSERVATORY 702.2, HI US',
  'station': 'USC00511918'},
 {'elevation': 152.4,
  'latitude': 21.3331,
  'longitude': -157.8025,
  'name': 'MANOA LYON ARBO 785.2, HI US',
  'station': 'USC00516128'}]

In [10]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [11]:
# create stations table
table = sqlalchemy.Table("stations", metadata, autoload=True)
conn.execute(table.delete())
conn.execute(table.insert(), stations_dict)
conn.execute("select * from stations limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [12]:
# create measurements table
table = sqlalchemy.Table("measurements", metadata, autoload=True)
conn.execute(table.delete())
conn.execute(table.insert(), measurements_dict)
conn.execute("select * from measurements limit 5").fetchall()

[('USC00519397', '2010-01-01', 0.08, 65),
 ('USC00519397', '2010-01-02', 0.0, 63),
 ('USC00519397', '2010-01-03', 0.0, 74),
 ('USC00519397', '2010-01-04', 0.0, 76),
 ('USC00519397', '2010-01-07', 0.06, 70)]